body, p {
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

button {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
